
/* cyrillic */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(../webfonts/e3t4euO8T-267oIAQAu6jDQyK3nRivNm4I81PZQ.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P Regular'), local('PressStart2P-Regular'), url(../webfonts/e3t4euO8T-267oIAQAu6jDQyK3nVivNm4I81.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body {
	--bgcolor: #131313;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;

	color: white;
	background: #131313;
	font-family: 'Press Start 2P', Helvetica, Arial;
}

* {
	box-sizing: border-box;
}

.connect-info {
	text-align: center;
	color: white;
}

.players-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.player {
	margin: 30px;
	font-size: 24px;
}

.player-1 {
	color: red;
}

.player-2 {
	color: blue;
}

.player.disconnected {
	color: #aaa;
}

.no-player {
	text-align: center;
	color: #aaa;
	opacity: 1;
	margin-top: 2em;
	transition: opacity 0.5s;
}

.no-player.transparent {
	opacity: 0;
}

.rom-gallery {
	position: absolute;
	width: 100%;
	top: calc(50% - 160px);
	overflow: hidden;
}

.rom-list {
	position: relative;
	display: flex;
	transition: transform 0.5s;
}

.rom-item {
	flex: 0 0 100vw;
	text-align: center;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 3em;
}

.rom-wrapper {
	padding: 0 50px;
}

.rom-preview {
	border-radius: 10px;
	box-shadow: 3px 3px 20px 3px rgba(255,255,255,0.4);
	transition: transform 0.5s;
}

.rom-wrapper.active .rom-preview {
	/*transform: scale(1.2);*/
}

.rom-item .rom-name {
	margin-top: 25px;
	font-size: 20px;
	line-height: 1.5;
}

.scroll-button {
	position: absolute;
	height: 100%;
	padding: 50px;
	top: 0;
	display: flex;
	align-items: center;
	font-size: 40px;
}

.scroll-button.left {
	left: 0;
	background-image: linear-gradient(to right, rgba(19,19,19,1), rgba(19,19,19,0));
}

.scroll-button.right {
	right: 0;
	background-image: linear-gradient(to left, rgba(19,19,19,1), rgba(19,19,19,0));
}

@keyframes push {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(15%);
	}

	100% {
		transform: translateY(0);
	}
}

.push {
	animation-name: push;
	animation-duration: 0.1s;
	animation-timing-function: ease-out;
}